.reports-page{

    padding:20px;

}

.reports-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

    margin-top:20px;

}

@media(max-width:900px){

    .reports-grid{

        grid-template-columns:1fr;

    }

}