.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.5);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:1000;

}

.modal-container{

    width:500px;

    background:white;

    border-radius:12px;

    overflow:hidden;

}

.modal-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    border-bottom:1px solid #e5e7eb;

}

.modal-body{

    padding:20px;

}

.close-btn{

    border:none;

    background:none;

    font-size:24px;

    cursor:pointer;

}